* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


/*responsive*/

.img-responsive {
    margin: 0 auto;
}


/*making all the borders*/

.border {
    border-bottom: double #c3b598;
    width: 10%;
    margin-left: 45%;
    margin-top: 0%;
    margin-bottom: 41px;
}


/*navbar*/

.welcome {
    background-image: url(../img/header.jpg);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-mio {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
}

.navbar-default {
    border: none;
}

.profile-image img {
    margin-left: 36%;
    width: 23%;
    margin-top: 8%;
}

.dropdown {
    font-size: 50px;
    color: white;
    margin-left: 48%;
    margin-bottom: 0;
}

.hide {
    display: none;
}


/*OUR VALUES}*/

.our-values h1 {
    padding-top: 20px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 35px;
    font-weight: 3000;
    font-family: 'Oswald', sans-serif;
}

. {
    -bottom: double #c3b598;
    width: 10%;
    margin-left: 45%;
    margin-top: 0%;
    margin-bottom: 41px;
}

.our-values h5 {
    padding-top: 0;
    text-align: center;
}

.options {
    margin-left: 28%;
    margin-top: 0%;
    font-style: italic;
    font-weight: 700;
}

.our-values i {
    font-size: 50px;
}


/*section 3*/

.container-greatfood {
    background-image: url(../img/bg-quote.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 37px;
    margin-top: 32px;
    margin-bottom: 0;
}

.cont {
    padding: 100px 0;
    margin-bottom: 21%;
    color: white;
}

.cont h2 {
    text-align: center;
    font-size: 44px;
    font-family: 'Overpass', sans-serif;
    padding-top: 8px;
}

.team {
    text-align: center;
    border: solid white;
    width: 20%;
    margin-left: 38%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}


/*section 4 CHEFS*/

.chefs {
    background-color: #F7F7F7;
}

.people-title {
    color: black;
    margin-top: 90px;
    font-weight: 900;
}

.people-second-title {
    font-size: 19px;
}

.master-chef {
    position: relative;
    margin-top: 56px;
    text-align: center;
    margin: 0 auto;
}

.chef-text {
    position: absolute;
    left: 30px;
    top: 80px;
    z-index: 3;
    display: inline-block;
}

.fixed-text {
    color: #fff;
    text-align: center;
    margin-top: 97px;
    margin-left: 40px;
}

.linecarousel {
    width: 73px;
    border: 1px solid #fff;
    text-align: center;
}

em {
    color: white;
    font-size: 15px;
    display: inherit;
}

.social-media {
    display: inline-block;
}

.social-media i {
    color: #fff;
}

.container-fluid {
    padding-bottom: 70px;
    background-color: #f7f7f7;
}


/*PRESS SECTION 5*/

.text h2 {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.container {
    margin-top: 20px;
}

.press {
    padding-bottom: 50px;
}


/* Carousel Styles */

.carousel-content {
    color: black;
    display: flex;
    align-items: center;
}

#text-carousel {
    width: 100%;
    height: auto;
    padding: 50px;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
    color: white;
    background-color: #c3b598;
    padding-top: 20px;
    padding-bottom: 47px;
}

.item h5 {
    text-align: center;
}

.item h6 {
    text-align: center;
}

.stars {
    text-align: center;
    color: #f2c512;
}

.left-star {
    margin-right: 20px;
    padding-right: 10%;
}


/*SUBSCRIBE SECTION 4*/

.subscribe h3 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 0;
    padding-bottom: 1%;
    padding-top: 6%;
}

.input-centered {
    width: 70%;
    margin-left: 15%;
    margin-right: 10%;
    padding-bottom: 8%;
}

.subscribe {
    background-color: #222222;
    width: 100%;
    padding: 0;
    margin-top: -2%;
}

.btn-secondary {
    background-color: #c3b598;
    color: white;
}


/*HOURS SECTION 4*/

.hours {
    background-image: url(../img/bg-pricing.jpg);
    width: 100%;
    height: 812px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
}

.hours h5 {
    font-size: 20px;
}

.hours h1,
h2 {
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 44px;
    font-family: 'Overpass', sans-serif;
    padding-top: 8px;
}

.hours-cont {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.box-food {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 26px;
}

.box-food h1 {
    color: black;
    padding-top: 6%;
}


/*SCHEDULES*/

.breakfast-container {
    border: solid 1px #c3b598;
    margin-bottom: 20px;
}

.breakfast-schedule {
    text-align: center;
    border-bottom: solid 1px #c3b598;
}

.breakfast-schedule:last-child {
    border-bottom: none;
}

.breakfast-schedule p {
    padding-bottom: 20px;
}

.btn-default {
    color: black;
    font-weight: 700;
    font-size: 14px;
    background-color: #fff;
    border-color: black;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.btn-group>.btn:first-child {
    margin-left: 84%;
}


/*MENU*/

.menu {
    width: 100%;
    background-color: white;
}

.menu-text {
    text-align: center;
    padding-top: 52px;
}

.paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: 700;
    font-size: 24px;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.carousel-container {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10%;
}

.carousel-indicators {
    margin-top: 0;
    margin-bottom: 0;
}


/*VITALITY SECTION 5*/

.vitality {
    width: 100%;
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.buy {
    color: white;
    font-weight: 600;
}


/*footer*/

footer h2 {
    color: #b7b7b7;
    font-size: 30px;
}

.contact {
    color: #b7b7b7;
    font-size: 20px;
}

footer {
    background-image: url(../img/bg-footer.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.media-footer {
    padding-top: 8%;
    padding-bottom: 0;
}

.col-social {
    color: #b7b7b7;
    font-size: 50px;
    padding-top: 84px;
    padding-bottom: 0;
}

.themes {
    color: #b7b7b7;
    font-size: 20px;
    padding-top: 20px;
}


/*MEDIA QUERIES*/

@media only screen and (min-width: 1281px) {
    .hide {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar-default {
        background-color: #222;
        padding-bottom: 22px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 480px) {
    .navbar-default {
        background-color: #222;
        padding-bottom: 22px;
    }
}